<% if @admin %>
  <div class="authentication_page" id="fa_body">
    <div class="sign_in_page">
      <% @users.each do |user| %>
        <div class="user">

          <button class="user_button">
            <% button_title = "ادمین کن" %>
            <% if user.admin %>
              <% button_title = "از ادمین بردار" %>
            <% end %>
            <%= link_to(button_title, edit_user_path(user.id)) %>
          </button>
          <button class="user_button">
            <%= link_to("حذف", user_path(user.id)) %>
          </button>
          <p><%= user.name %>: نام</p>
          <p class="user_p"><%= user.surn_name %>: نام خانوادگی</p>
          <p class="user_p"><%= user.email %>: پست الکترونیک</p>
          <a data-toggle="modal" data-target="#mapModal">
            <%= image_tag(user.avatar, class: "user_avatar") %>
          </a>

          <div class="modal" id="mapModal" role="dialog">
            <div class="gorgan_map_Modal" class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-body">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <%= image_tag(user.avatar, class: "gorgan_map_modal") %>
                </div>
              </div>

            </div>
          </div>

        </div>
      <% end %>
    </div>
    <%= image_tag('tanbour.jpg', class: "authentication_image") %>
  </div>
<% end %>
