<!DOCTYPE html>
<html>
  <head>
    <title>موسیقی فرزان</title>
    <%= csrf_meta_tags %>
    <link rel="icon" href="assets/Setar_logo_2.jpg">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
